.main-container {
    width: 100%;
    height: 100vh;
}

.tasks {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin: 6%;
    padding: 3%;
    flex-direction: column;
    align-items: center;
}

.task {
    width: 60%;
    height: 120px;
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task:hover {
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.state-row {
    display: flex;
    justify-content: space-between;
}

.task-state {
    width: 17%;
    background-color: rgb(203, 200, 200);
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 500;
}

.task-title {
    font-size: x-large;
    font-weight: 600;
}

.task-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-body::after {
    content: "...";
}

.ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-container {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.filter-container {
    width: 40%;
    display: flex;
    align-items: center;
}

#filter-icon {
    margin: 3%;
}

.filter-time {
    margin-right: 3%;
}